<link rel="stylesheet" href="/stylesheets/{{person.first_name}}.css">

<div>
    <h1>{{person.first_name}} {{person.last_name}}</h1>
    <br>
    <img src="/images/{{person.image}}" alt="imageNoWork" style="height:100px">
    <br>
    {{person.github}}
    <br>
    {{person.information}}
</div>