<p>ABOUT ME</p>
<div>
    {{person.first_name}} {{person.last_name}}
    <br>
    <img src="/images/{{person.image}}" alt="imageNoWork" style="height:100px">
    <br>
    {{person.github}}
    <br>
    {{person.information}}
</div>